$black:black;
$white: white;
body {
  background-color: $black;
  color: $white;
}

#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  width: auto;
}

#loader {
  width: 100%;
  text-align: center;
  #ajax-loader {
    width: 30px;
    position: relative;
  }
}

.article {
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
a{
  text-decoration: none;
  font-family: 'Open Sans';
  color: white;
}
}