$black:black;
$white: white;
body {
  background-color: $black;
  color: $white;
}

#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  width: auto;

  a{
    text-decoration: none;
  }
}

#loader {
  width: 100%;
  text-align: center;
  #ajax-loader {
    width: 30px;
    position: relative;
  }
}

.form{
  padding-top:1rem;
  padding-bottom:1rem;

  p{
    padding-bottom:1rem;
  }

  #select-article{
    width: 8rem;
    height: 2rem;
    font-size:1rem;
  }
}


li{
  position:relative;
}

.article {
  width: 100vw;
  height: 70vh;
  background-position: 50%;
  background-size: cover;
  

  
  p{
  position: absolute;
  text-decoration:none;
  font-family: 'Open Sans';
  color: white;
  line-height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  bottom:0
}
}
