$black:black;
$white: white;
body {
  background-color: $black;
  color: $white;
}

#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  width: auto;
}

#loader {
  width: 100%;
  text-align: center;
  #ajax-loader {
    width: 30px;
    position: relative;
  }
}

// img {
//   // position: relative;
// }